/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 90px;
}
.slick-dots li {
    margin: 0 5px;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background: #a9afb3;
    border: 1px solid #a9afb3;
    outline: none;
    /* outline-offset: 0; */
}
/* Элемент точки */
.slick-dots li button{
    padding: 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #a9afb3;
    outline: none;

}